@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Text', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  height: 100%;
}

body {
  background: url("/img/bg-stars.svg"), linear-gradient(180deg, #1D1E28 0%, #261C2D 94.84%, #261A2D 100%);
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Red Hat Text', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
